.homeScreen {
    background-image: url('../images/Vector_2640.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
    }
    > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        @media (max-width: 1000px) {
            width: 35%;
        }
        @media (max-width: 768px) {
            width: 90%;
        }
    }
}