@keyframes formLines {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
} 

@keyframes formTop {
    0% {
        transform: translateY(300px);
        opacity: 0;
        height: 0%;
        
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        height: 100%;
    }
}

@keyframes buttonTop {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
        
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}