.buttonHome {
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 20px 50px;
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-size: 25px;
    color: whitesmoke;
    border-radius: 25px;
    border: none;
    box-shadow: 4px 4px 20px  grey;
    background: linear-gradient(to right, $primary, $secondary);
    animation: buttonTop 2s reverse ease-in;
    &:hover {
        transform: scale(1.1);
    }
}

.buttonForm {
    width: 100%;
    text-align: center;
    .buttonSignin {
        width: 80%;
        height: auto;
        padding: 20px 50px;
        font-family: 'Source Code Pro';
        font-weight: 600;
        font-size: 15px;
        color: whitesmoke;
        border-radius: 25px;
        border: none;
        box-shadow: 4px 4px 20px  grey;
        background: linear-gradient(to right, $primary, $secondary);
        transition-duration: 1.5s;
        transition: all 1.5s;
        &:focus {
            transform: scale(1.1);
        }
    }
}

.buttonRegister {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    height: auto;
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-size: 25px;
    color: whitesmoke;
    border-radius: 25px;
    border: none;
    background: none;
    &:hover {
        transform: scale(1.1);
    }
    @media (max-width: 1000px) {
        font-size: 20px;
    }
    @media (max-width: 650px) {
        font-size: 15px;
    }
}


